.home{
    background-color: #1abc9c;
}
.component span{
    background-color: #fff;
    width: 80px;
    height: 4px;
    display: inline-block;
    vertical-align: middle;
}
.app-portfolio .component span,
.app-contact .component span{
    background-color: #2c3e50;
}
.app-home,.app-about,.app-portfolio,.app-contact,.app-notFound{
    min-height: inherit;
}
.app-portfolio .component h1,
.app-contact .component h1,
.app-portfolio i,
.app-contact i{
    color: #2c3e50;
}
.portImage{
    cursor: pointer;
}
.portImage .layer{
    background-color: rgba(41, 177, 151,80%);
    transition: 0.3s;
    opacity: 0;
}
.portImage:hover .layer{
    opacity: 1;
}
.form-control{
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    padding: .9375rem !important;
}
.form-control:focus{
    box-shadow: none !important;
    
}
.navbar .navbar-nav .active{
    background-color: #1abc9c;
    border-radius: 5px;
}